node_modules/
dist/
.env
.env.capacitor
.env.local
.env.*.local
!.env.example
!.env.capacitor.example

android/.gradle/
android/app/build/
android/build/
android/.idea/
ios/App/Pods/
ios/App/build/
ios/DerivedData/
*.keystore
